#M {
    color: grey;
    display: flex;
}

.mtn {
    position: relative;
    border-top: 0px solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 11vw solid #6E8087;
    border-left: 5vw solid transparent;
}

#mtn1 {
    z-index: 1;
}

#mtn2 {
    z-index: 3;
    border-bottom: 13vw solid #84949A;
    right: 33%;
}