#T {
    display: flex;
    width: 14%;
}

.trunk {
    border-top: 0px solid transparent;
    border-right: .5vw solid transparent;
    border-bottom: 11vw solid #312421;
    border-left: .5vw solid transparent;
}

#base {
    z-index: 5;
}

.branch {
    z-index: 4;
    position: relative;
    border-top: 0px solid transparent;
    border-right: .3vw solid transparent;
    border-bottom: 3vw solid #312421;
    border-left: .3vw solid transparent;
}

#left_branch {
    transform: rotate(-90deg);
    right: 68%;
    top: 12%
}

#right_branch {
    transform: rotate(90deg);
    right: -48%;
    top: 12%;
}

.leaf {
    position: relative;
    border-top: 0px solid transparent;
    border-right: 4.5vw solid transparent;
    border-bottom: 3vw solid #2C8C3C;
    border-left: 4.5vw solid transparent;
}

#bot_leaf {
    border-bottom: 3vw solid #2a8839;
    z-index: 1;
    right: 56%;
    top: -34%;
}

#mid_leaf {
    z-index: 2;
    right: 128.2%;
    border-right: 3.5vw solid transparent;
    border-left: 3.5vw solid transparent;
    border-bottom: 3vw solid #277C35;
    top: -50%;
}

#top_leaf {
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
    z-index: 3;
    top: -66%;
    right: 177.8%;
}
