.cave {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 30vh;
    background-color: #404B4F;
}

.stone1 {
    height: 20px;
    z-index: 3;
    width: 100%;
    display: flex;
    background-color: #6E8187;
    border-top: 1px solid #58666b;
}

.stone2 {
    height: 20px;
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: #5C6B70;
}

.tite1 {
    position: relative;
    z-index: inherit;
    border-bottom: 0px solid transparent;
    border-top: 10vw solid #6E8187;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.mite1 {
    position: relative;
    z-index: inherit;
    border-top: 0px solid transparent;
    border-bottom: 10vw solid #6E8187;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.tite2 {
    position: relative;
    z-index: inherit;
    border-bottom: 0px solid transparent;
    border-top: 10vw solid #5C6B70;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.mite2 {
    position: relative;
    z-index: inherit;
    border-top: 0px solid transparent;
    border-bottom: 10vw solid #5C6B70;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.small {
    border-top: 4.2vw solid #6E8187;
    border-left: .3vw solid transparent;
    border-right: .3vw solid transparent;
}

.med {
    border-top: 6vw solid #6E8187;
    border-left: .5vw solid transparent;
    border-right: .5vw solid transparent;
}

.large {
    border-top: 7.8vw solid #6E8187;
    border-left: .82vw solid transparent;
    border-right: .82vw solid transparent;
}

.xl {
    border-top: 10vw solid #6E8187;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}

/* layer 1 of roof for name */


/* layer 2 of roof for name */
#t2-1 {
    border-top: 10vw solid #5C6B70;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}