.cave {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 30vh;
    background-color: #404B4F;
}

.stone1 {
    height: 25px;
    width: 100%;
    display: flex;
    background-color: #6E8187;
    border-top: 1px solid #58666b;
}

.stone2 {
    height: 15px;
    width: 100%;
    display: flex;
    background-color: #5C6B70;
    border-top: 1px solid #4a565a;
}

.tite .mite {
    border-top: 0px solid transparent;
    border-bottom: 5vw solid purple;
    border-top: 1vw solid transparent;
    border-top: 1vw solid transparent;
}

.tite { transform: rotate(180deg);
}

.tite1 .mite1 {
   border-bottom: 5vw solid #6E8187;
}

.tite2 .mite2 {
    border-bottom: 5vw solid #5C6B70;
}