.ground {
    height: 15px;
    width: 100vw;
    margin: 0px;
}

.grass1 {
    border-top: solid 1px #577140 ;
    background-color: #6e8e53;
}
.grass2 { background-color: #69874c; }

.dirt1 {
    border-top: solid 1px #876532 ;
    background-color: #946F38;
}
.dirt2 { background-color: #7d5f32; }

.stone1 {
    background-color: #6E8087;
}