.Projects {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5% 0%;
}

.project {
    display: flex;
    justify-content: space-evenly;
}

.projects_content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.projects_content > h2 {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 0px;
}

.project_card {
    width: 55%;
    background-color: #c7cfd1ce;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #6E8087;
}

.alt_align {
    align-self: flex-end;
}

.project_title {
    align-self: center;
    padding: 3px 25px;
    font-size: 26px;
}

.project_thumbnail {
    width: 98%;
    max-height: 250px;
    margin: 0 auto;
    border: 2px solid #6E8087;
    padding: 0px;
}

.project_buttons {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.project_button {
    padding: 10px;
    width: 30%;
    color: rgb(245, 245, 245);
    margin: 0px;
}

.project_desc {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
}