.About {
    background-color: #404B4F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_content {
    width: 80%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #5C6B70;
    margin: 20px;
}

#headshot {
    width: 50%;
    display: flex;
    justify-content: center;
}

#headshot > img {
    width: 300px;
    border-radius: 10%;
    border: 2px solid #5C6B70;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bio > h2 {
    font-size: 36px;
}

.interest {
    display: flex;
    align-items: center;
    height: 45px;
    margin: 10px;
}

.interest > img {
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3D314A;
    border: 2px solid #6E8087;
}

.hover_animate:hover {
    transition: .5s;
    background-color: #1C2022;
    border: 2px solid #4E3C68;
    box-shadow: #3D314A 3px 3px;
}
