@font-face {
    font-family: 'mont-h';
    src: url('../static/Mont-heavy.otf');
}

@font-face {
    font-family: 'mont-l';
    src: url('../static/Mont-light.otf');
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}

.App > * > * {
    font-family: 'mont-h';
}