@font-face {
    font-family: 'mont-h';
    src: url('../static/Mont-heavy.otf');
}

@font-face {
    font-family: 'mont-l';
    src: url('../static/Mont-light.otf');
}

body {
    margin-top: 0px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.App > * > * {
    font-family: 'mont-l';
    color: rgb(245, 245, 245);
}

.hover_animate:hover {
    transition: .5s;
    background-color: #1C2022;
    border: 2px solid #4E3C68;
    box-shadow: #3D314A 3px 3px;
}