.home-name {
    display: flex;
    font-size: 15vw;
    margin: 10px;
    width: 80%;
    justify-content: center;
    margin-bottom: 0;
}

.letter {
    min-height: 100px;
    width: 20%;
}

.ground {
    height: 15px;
    width: 100vw;
    margin: 0px;
}

#grass1 {
    border-top: solid 1px #577140 ;
    background-color: #6e8e53;
}
#grass2 { background-color: #69874c; }
#grass3 { background-color: #65824b; }

.dirt1 {
    border-top: solid 1px #876532 ;
    background-color: #946F38;
}
.dirt2 { background-color: #7d5f32; }
#dirt3 { background-color: #946F38; }

#P {
    color: purple;
}

#E {
    color: dodgerblue;
}

#R {
    color: slateblue;
}

#O {
    color: black;
}

@media screen and ( max-width: 600px ) {
    .home-name {
        width: 50%;
    }
    .mtn {
        border-top: 0px solid transparent;
        border-right: 8vw solid transparent;
        border-bottom: 16vw solid grey;
        border-left: 8vw solid transparent;
    }
    #mtn2 {
        border-bottom: 18vw solid grey;
        right: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .home-name {
        width: 65%;
    }
    .mtn {
        border-top: 0px solid transparent;
        border-right: 7vw solid transparent;
        border-bottom: 14vw solid grey;
        border-left: 7vw solid transparent;
    }
    #mtn2 {
        border-bottom: 16vw solid grey;
        right: 50%;
    }
}
