.home-name {
    display: flex;
    font-size: 15vw;
    margin: 10px;
    width: 80%;
    justify-content: space-evenly;
}

.letter {
    min-height: 100px;
    width: 20%;
}

#M {
    color: grey;
    display: flex;
}

.mtn {
    position: relative;
    border-top: 0px solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid #6E8087;
    border-left: 5vw solid transparent;
}

#mtn1 {
    z-index: 1;
}

#mtn2 {
    z-index: 3;
    border-bottom: 11vw solid #84949A;
    right: 33%;
}

#A {
    color: rgb(255, 149, 0);
    display: flex;
}

.tent {
    position: relative;
    border-top: 0px solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 8vw solid #F79824;
    border-left: 5vw solid transparent;
}

#strings {
    z-index: 1;
    border-bottom: 8vw solid #3B2102;
}

#airgap {
    z-index: 2;
    right: 61.8%;
    border-right: 4.8vw solid transparent;
    border-bottom: 8vw solid #C2E3FE;
    border-left: 4.8vw solid transparent;
}

#outertent {
    z-index: 3;
    right: 118.2%;
    border-right: 4.1vw solid transparent;
    border-left: 4.1vw solid transparent;
}

#innertent {
    z-index: 4;
}

.tent_open {
    right: 159.9%;
    border-right: 2.5vw solid transparent;
    border-bottom: 4.5vw solid #FDCA40;
    border-left: 2.5vw solid transparent;
}

.tent_closed {
    right: 145.3%;
    border-right: .2vw solid transparent;
    border-bottom: 4.5vw solid #C56F07;
    border-left: .2vw solid transparent;
}


#T2 {
    color: green
}

#P {
    color: purple;
}

#E {
    color: dodgerblue;
}

#R {
    color: slateblue;
}

#O {
    color: black;
}

@media screen and ( max-width: 600px ) {
    .home-name {
        width: 50%;
    }
    .mtn {
        border-top: 0px solid transparent;
        border-right: 8vw solid transparent;
        border-bottom: 16vw solid grey;
        border-left: 8vw solid transparent;
    }
    #mtn2 {
        border-bottom: 18vw solid grey;
        right: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .home-name {
        width: 65%;
    }
    .mtn {
        border-top: 0px solid transparent;
        border-right: 7vw solid transparent;
        border-bottom: 14vw solid grey;
        border-left: 7vw solid transparent;
    }
    #mtn2 {
        border-bottom: 16vw solid grey;
        right: 50%;
    }
}
